.hero-section{
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.induldge{
    font-size: 130px;
}
.nyamutusi{
    font-size: 30px;
    color: red;
    font-family: papyrus;
    font-style: italic;
}
.navbar{
    border-bottom: white 1px solid;
    font-weight: 400;
}
.nav-link{
    position: relative;
    font-size: 20px;
    top: 20%;
    right: 40%;
}
.ham img{
    display: flex;
    height: 80px;
    width: 80px;
    padding-left: 15px;
    justify-content: flex-end;
    align-items: flex-end;

}
.ham{
    display: flex;
   position: relative;
   left: 150px;
  

}
.icons{
    position: relative;
    left: 60px;
    bottom: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.icons img{
  height: 70px;
  width: 70px;
  padding: 20px;
}

.stories-section .col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.col-md-4 .img-fluid{
   padding: 200px 0px;
}
.stories-section {
   padding: 150px;
 
}
.stories-section .text2{
 margin-top: 145px;
 
   
 }
 .stories-section button{
    background-color: orangered;  
    color: white;
    border: none;
    width: 130px;
    height: 60px;
   
 }
 .stories-section p{
   
 }
 .col-md-3 .img-fluid{
    padding: 15px 0px;
 }

 .activity1{
    background-image: url(../image/activity1.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;

 }


.activity2{
    background-image: url(../image/activty2.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity3{
    background-image: url(../image/activity3.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity4{
    background-image: url(../image/activity4.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity5{
    background-image: url(../image/activity5.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activities .col-md-12{
    display: flex;
    gap: 10px;
  
 }

 .activities{
    display: flex;
    flex-direction: column;
    padding: 120px;
  
 }
 .div1{
    background-color: black;
 }
 

 .down{
    position: relative;
    top: 130px;
 }
