


.hero-section{
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.induldge{
    font-size: 130px;
}
.nyamutusi{
    font-size: 30px;
    color: red;
    font-family: papyrus;
    font-style: italic;
}
.navbar{
    border-bottom: white 1px solid;
    font-weight: 400;
}
.nav-link{
    position: relative;
    font-size: 20px;
    top: 20%;
    right: 40%;
}
.ham img{
    display: flex;
    height: 80px;
    width: 80px;
    
    justify-content: flex-end;
    align-items: flex-end;

}
.ham{
    display: flex;
   position: relative;
   left: 150px;
  

}
.icons{
    position: relative;
    left: 60px;
    bottom: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.icons img{
  height: 70px;
  width: 70px;
  padding: 20px;
}

.stories-section .col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.col-md-4 .img-fluid{
    position: relative;
    bottom: 80px;
   padding: 200px 0px;
}
.stories-section {
   padding: 120px;
 
}
.stories-section .text2{
 margin-top: 100px;
 
   
 }
 
 .stories-section button{
    background-color: orangered;  
    color: white;
    border: none;
    width: 130px;
    height: 60px;
   
 }
 
 .col-md-3 .img-fluid{
    position: relative;
    bottom: 80px;
    padding: 15px 0px;
 }

 .activities{
   display: flex;
   flex-direction: row;
   padding: 120px;
   bottom: 200px;
   position: relative;
 
  

}
.activity1 h5,.activity2 h5,.activity3 h5,.activity4 h5,.activity5 h5{opacity: 90%;}
.activity1{
   background-image: url(../image/activity1\ copy.png);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
 
   background-position: center;
   background-size: cover;
   width: 400px;
   height: 400px;
   color: white;
   
   
}
.activity2{
   background-image: url(../image/activty2.png);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 300px;
   height: 400px;
   background-position: center;
   background-size: cover;
   color: white;

}
.activity3{
   background-image: url(../image/activity3.png);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 300px;
   height: 400px;
   background-position: center;
   background-size: cover;
   color: white;
 
}
.activity4{
   background-image: url(../image/activity4.png);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 300px;
   height: 400px;
   background-position: center;
   background-size: cover;
   color: white;
  
}
.activity5{
   background-image: url(../image/activity5.png);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   width: 300px;
   height: 400px;
   background-position: center;
   background-size: cover;
   color: white;
   
}
.activities .col-md-12{
   display: flex;
   gap: 10px;
 


}
.activity1:hover .overlay1{
  height: 100%;
  color: white;
}
.activity2:hover .overlay2{
  height: 100%;
  color: white;
}
.activity3:hover .overlay3{
  height: 100%;
  color: white;
}
.activity4:hover .overlay4{
  height: 100%;
  color: white;
}
.activity5:hover .overlay5{
  height: 100%;
  color: white;
}

.overlay1{
  transition:0.5s ease-in;
   width: 100%;
   height: 0%;
   background-color: rgba(0, 0, 0, 0.223);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-end;
}
.overlay2{
  transition:0.5s ease-in;
   width: 100%;
   height: 0%;
   background-color: rgba(0, 0, 0, 0.223);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
.overlay3{
  transition:0.5s ease-in;
   width: 100%;
   height: 0%;
   background-color: rgba(0, 0, 0, 0.223);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
.overlay4{
  transition:0.5s ease-in;
   width: 100%;
   height: 0%;
   background-color: rgba(0, 0, 0, 0.223);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
.overlay5{
  transition:0.5s ease-in;
   width: 100%;
   height: 0%;
   background-color: rgba(0, 0, 0, 0.223);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
 .div1{
    background-color:white;
 }
 

 .down{
    position: relative;
    top: 130px;
 }


 .sightings{
    width: 100%;
    padding: 90px;
    position: relative;
    bottom: 350px;
 }
 .sightings .col-md-12 img{
    width: 230px;
    height: 270px;
    margin: 8px;
    position: relative;
    top:100px ;
 }
 .recents2{
    position: relative;
    top: 70px;
    
 }
 .recents3{
    position: relative;
    bottom: 100px;
    
 }
 .row2{
    position: relative;
    bottom:289px ;
 }

 .recents6{
    position: relative;
   bottom: 190px;
   right: 0px;
  
 }
 p{
    color: white;
    font-weight: lighter;
 }


 .row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 100px;
    background-color: rgb(246, 85, 22);
  
  color: white;
  width: 300px;
}
.row3 p{
    color: white;
}

.container2   img{
    position: relative;
    top: 100px;  
}

 hr{
    width: 300px;
    height: 50px;
    border: 2px solid white;
 }
 
 
 
 .iteneries{
    display: flex;
    padding: 120px;
    position: relative;
    bottom: 600px;    
  }
  .iteneries .col-md-6{
    display: flex;
   
  }
  .tour{
    width: 800px;
    height: 417px;
   
 
  }
  .iteneries-info{
    display: flex;
    flex-direction: row;
    text-align: flex-start;
    padding: 6px 5px;
    background-color: orangered;
    color: white;
    line-height: 20px;
  }
  .ammount{
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 10px 0px;
  }
  .col-md-6 .destinations{
    display: flex;
    gap: 20px;
  }
  .iteneries h1{
    margin: 80px 0px;
  }.destination1{
    background-image: url(../image/itenaries2.png);
   background-position: center;
   background-size: cover;
    width: 280px;
    height: 417px;
    color: white;
    font-style: italic;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
    
 
  }
 .destination2{
    background-image: url(../image/itenaries3.png ); 
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 417px;
    color: white;
    font-style: italic;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
 }
 h4{
    opacity: 90%;
    font-weight: 200;
 }

 .jacob{
    background-image: url(../image/jacob.png);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 417px;
    transition: 0.4s;
 }
 .jacob:hover{
    transform: scale(1.2);
 }
 
 .brown{
    background-image: url(../image/brown.png);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 417px;
    transition: 0.4s;
 }
 .brown:hover{
    transform: scale(1.2);
 }
 .testimonials .col-md-6{
    border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
 }
 .testimonials .row{
    display: flex;
   justify-content: space-around;
    
 }
 .testimonials{
    position: relative;
    bottom: 700px;
    padding: 120px;
 }
 .overlayimg{
    position: relative;
    right: 5%;
    background-image: url(../image/overlay.png);
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 417px;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: center;
 }
 .testimonials h1{
    margin: 60px 0px;
 }
   .line{
    height: 100px;
    width: 200px;
    color: orangered;
   
 }
 .rectangle1{
    height: 290px;
 } 
 .rectangle2{
    width: 100%;
    height: 255px;  
 }
 .gallery{
    position: relative;
     bottom: 800px;
    padding: 120px;
    height: 40vh;
 }
.col-md-3 .img-fluid{
    position: relative;
    top: 1px;
}
 .gallery h1{
    margin: 60px 0px;
 }
 .footer2{
    position: relative;
   width: 100%;
    background-color: orangered;
    padding: 40px ;
    height: 40vh;
 }
 
 .footer{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0px 90px;
    gap: 120px;
    opacity: 90%;
    line-height: 25px;
 }
 .footer span{
   
    font-style: italic;
    color: white;
    opacity: 100%;
   
 
 }
 form input{
    border: none;
    background-color:white;
    padding: 10px 30px;
   
 }
  .submitbutton{
    background-color: black;
    color: white;
    position: relative;
    right: 20px;
 } 
 .heart{
    width: 40px;
    height: 40px;
    position: relative;
    bottom:18px ;
    left: 230px;
 
 }
 
  .txt{
   display: flex;
   justify-content: center;
   position: relative;
   align-items: center;
   color: white;
 }
