.hero-section{
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.induldge{
    font-size: 130px;
}
.nyamutusi{
    font-size: 30px;
    color: red;
    font-family: papyrus;
    font-style: italic;
}
.navbar{
    border-bottom: white 1px solid;
    font-weight: 400;
}
.nav-link{
    position: relative;
    font-size: 20px;
    top: 20%;
    right: 40%;
}
.ham img{
    display: flex;
    height: 80px;
    width: 80px;
    padding-left: 15px;
    justify-content: flex-end;
    align-items: flex-end;

}
.ham{
    display: flex;
   position: relative;
   left: 150px;
  

}
.icons{
    position: relative;
    left: 60px;
    bottom: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.icons img{
  height: 70px;
  width: 70px;
  padding: 20px;
}

.stories-section .col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.col-md-4 .img-fluid{
    position: relative;
    bottom: 80px;
   padding: 200px 0px;
}
.stories-section {
   padding: 120px;
 
}
.stories-section .text2{
 margin-top: 100px;
 
   
 }
 
 .stories-section button{
    background-color: orangered;  
    color: white;
    border: none;
    width: 130px;
    height: 60px;
   
 }
 .stories-section p{
   
 }
 .col-md-3 .img-fluid{
    position: relative;
    bottom: 80px;
    padding: 15px 0px;
 }

 .activity1{
    background-image: url(../image/activity1.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;

 }


.activity2{
    background-image: url(../image/activty2.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity3{
    background-image: url(../image/activity3.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity4{
    background-image: url(../image/activity4.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activity5{
    background-image: url(../image/activity5.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
 }

 .activities .col-md-12{
    display: flex;
    gap: 10px;
  
 }

 .activities{
    display: flex;
    flex-direction: column;
    padding: 120px;
  
 }
 .div1{
    background-color: black;
 }
 

 .down{
    position: relative;
    top: 130px;
 }


 .sightings{
    width: 100%;
    padding: 90px;
 }
 .sightings .col-md-12 img{
    width: 230px;
    height: 270px;
    margin: 8px;
    position: relative;
    top:100px ;
 }
 .recents2{
    position: relative;
    top: 70px;
    
 }
 .recents3{
    position: relative;
    bottom: 100px;
    
 }
 .row2{
    position: relative;
    bottom:289px ;
 }

 .recents6{
    position: relative;
   bottom: 190px;
   right: 0px;
  
 }
 p{
    color: rgb(82, 81, 81);
    font-weight: lighter;
 }


/*  .row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 100px;
    background-color: rgb(246, 85, 22);
  
  color: white;
  width: 300px;
}
.row3 p{
    color: white;
}

.container2   img{
    position: relative;
    top: 100px;  
}

 hr{
    width: 300px;
    height: 50px;
    border: 2px solid white;
 }
 
 li a {
    


    text-decoration: none;
    list-style-type: none;
    color: white;
    
 }
 */